#LAMMPS input script that performs a simple energy minimization

<atomman_system_info>

<atomman_pair_info>

variable peatom equal pe/atoms
                  
thermo_style custom step lx ly lz pxx pyy pzz pe v_peatom
thermo_modify format float %.13e

dump dumpit all custom <maximum_evaluations> atom.* id type x y z
dump_modify dumpit format "%i %i %.13e %.13e %.13e"
minimize <energy_tolerance> <force_tolerance> <maximum_iterations> <maximum_evaluations>