# Compiled python modules
*.pyc

# Python egg metadata
*.egg-info/
*.egg

#PyPI dist and build
dist/
build/
dist-old/

# Local iprPy settings
iprPy/.iprPy

# test scripts
test/

# High-throughput log files
runner-logs/
bin/iprPy_runner.*

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/
*/*/.ipynb_checkpoints/
*/*/*/.ipynb_checkpoints/
*/*/*/*/.ipynb_checkpoints/

# Demonstration Notebook working directories
notebook/*/

# Generated web content
analysis/webcontent

# Compiled csv results
IPR workflow/csv

# Virtual Studio Code metadata
.vscode/

upload_package.bash