# Compiled python modules
*.pyc

# Python egg metadata
*.egg-info/
*.egg

#PyPI dist and build
dist/
build/
dist-old/
pip-wheel-metadata/

# Local iprPy settings
iprPy/.iprPy

# test scripts
test/

# High-throughput log files
runner-logs/
bin/runner_*.txt
bin/emperor*.txt

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/
*/*/.ipynb_checkpoints/
*/*/*/.ipynb_checkpoints/
*/*/*/*/.ipynb_checkpoints/

# Demonstration Notebook working directories
notebook/*/*
!notebook/*/*.ipynb

# Demonstration command line script working directories
demo/*/*
!demo/*/calc_*.in
!demo/0-files/*

# Generated web content
analysis/webcontent

# Compiled csv results
IPR workflow/csv

# Virtual Studio Code metadata
.vscode/

upload_package.bash