#compiled python modules
*.pyc

#Notebook checkpoints and data
Notebooks/*/

#non-IPR potentials
ref/potentialInstances-LAMMPS/Ta--ThompsonAP--2015.json
ref/potentials/Ta--ThompsonAP--2015/
ref/potentialInstances-LAMMPS/Fe--ChamatiM--2006.json
ref/potentials/Fe--ChamatiM--2006/Fe_cham-mishin.eam.alloy
ref/potentialInstances-LAMMPS/Fe--ProvilleL--2012.json
ref/potentials/Fe--ProvilleL--2012/

#calcs results and temp folders
calcs/*/*.json
calcs/*/*.dump
calcs/*/*.png
calcs/*/*/