#LAMMPS input script that performs an energy minimization

<atomman_system_info>

<atomman_pair_info>

thermo_style custom step lx ly lz pxx pyy pzz pe
thermo_modify format float %.13e

compute peatom all pe/atom 

min_modify dmax <dmax>

dump dumpit all custom <maxeval> atom.* id type x y z c_peatom
dump_modify dumpit format float %.13e

minimize <etol> <ftol> <maxiter> <maxeval>