# LAMMPS input script that performs a simple energy minimization

box tilt large

<atomman_system_info>

<atomman_pair_info>

thermo_style custom step lx ly lz pxx pyy pzz pe
thermo_modify format float %.13e

compute peatom all pe/atom 

dump dumpit all custom <maxeval> atom.* id type x y z c_peatom
dump_modify dumpit format <dump_modify_format>

min_modify dmax <dmax>

minimize <etol> <ftol> <maxiter> <maxeval>