#LAMMPS input script for relaxing a dislocation

<atomman_system_pair_info>

group move type <group_move>
group hold subtract all move

compute peatom all pe/atom

dump first all custom <dumpsteps> *.dump id type x y z c_peatom
dump_modify first format <dump_modify_format>
thermo_style custom step pe

fix nomove hold setforce 0.0 0.0 0.0

<anneal_info>

min_modify dmax <dmax>

minimize <etol> <ftol> <maxiter> <maxeval>