#LAMMPS input script that performs a simple energy minimization

<atomman_system_pair_info>

thermo_style custom step lx ly lz pxx pyy pzz pe
thermo_modify format float %.13e

compute peatom all pe/atom 

min_modify dmax <dmax>

dump dumpit all custom <maxiter> <sim_directory>*.dump id type x y z c_peatom
dump_modify dumpit format <dump_modify_format>
minimize <etol> <ftol> <maxiter> <maxeval>