<!DOCTYPE html>
<!-- New demo for 2015-%2DPurja-Pun-G-P-%2DNi-Al-Co -->
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" id="Description" content="Interatomic Potentials Repository Project">
    <meta name="dcterms.description" id="Description" content="Interatomic Potentials Repository Project">
    <meta name="dcterms.creator" content="U.S. Department of Commerce, National Institute of Standards and Technology">
    <title>Interatomic Potentials Repository Project</title>
    <link rel="stylesheet" type="text/css" href="./Interatomic Potentials Repository Project_files/style.css">
    <script src="./Interatomic Potentials Repository Project_files/ga.js.download" async="" type="text/javascript"></script>
    <script language="javascript" type="text/javascript" src="./Interatomic Potentials Repository Project_files/jquery-3.1.1.min.js.download"></script>
    <script language="javascript" type="text/javascript" src="./Interatomic Potentials Repository Project_files/jquery.leaveNotice.min.js.download"></script>
    <link rel="stylesheet" type="text/css" href="./Interatomic Potentials Repository Project_files/jquery.leaveNotice.css">
  <!-- Start new lines -->
    <link rel="stylesheet" type="text/css" href="./Interatomic Potentials Repository Project_files/tablestyle.css">
    <script language="javascript" type="text/javascript" src="./Interatomic Potentials Repository Project_files/showSelection.js"></script>
  <!-- End new lines -->
    <script type="text/javascript">
$(function(){
	$('a.external').leaveNotice({
		siteName:"the NIST Interatomic Potentials Repository Project"
	});
});
</script>
  </head>
  <body>
    <div id="container">
      <!-- Header -->
      <div id="header-wrapper">
        <div class="center-wrapper">
          <div id="header">
            <div id="help">
              <div class="right"> <a href="https://www.nist.gov/"><img src="./Interatomic Potentials Repository Project_files/nist-logo-right.png" width="150"></a> </div>
            </div>
            <div id="logo">
              <div class="left"> <a href="https://www.ctcms.nist.gov/potentials/"><img src="./Interatomic Potentials Repository Project_files/logo.png" width="75"></a> </div>
              <h1 id="site-title">Interatomic Potentials Repository
                Project</h1>
              <h2 id="site-slogan">Part of the Materials Genome
                Initiative</h2>
            </div>
          </div>
        </div>
      </div>
      <div id="navigation-wrapper">
        <div id="navigation-wrapper-2">
          <div class="center-wrapper">
            <div id="navigation">
              <ul class="tabbed">
                <li class=""><a href="https://www.ctcms.nist.gov/potentials/">Home</a></li>
                <li class=""><a href="https://www.ctcms.nist.gov/potentials/tools.html">Tools</a></li>
                <li class=""><a href="https://www.ctcms.nist.gov/potentials/refs.html">References</a></li>
                <li class=""><a href="https://www.ctcms.nist.gov/potentials/faq.html">FAQ</a></li>
                <li class=""><a href="https://www.ctcms.nist.gov/potentials/resources.html">Resources</a></li>
                <li class=""><a href="https://www.ctcms.nist.gov/potentials/credits.html">People</a></li>
                <li class=""><a href="mailto:potentials@nist.gov?Subject=NIST%20Potentials%20Repository" target="_top">Contact</a></li>
              </ul>
              <div class="clearer">&nbsp;</div>
            </div>
          </div>
        </div>
      </div>
      <div id="subnav-wrapper">
        <div id="subnav-wrapper-2">
          <div class="center-wrapper">
            <div id="subnav">
              <div class="clearer">&nbsp;</div>
            </div>
          </div>
        </div>
      </div>
      <!-- END Header -->
      
      
      <!-- Content -->
      <div id="content" class="colM">
        <div id="content-wrapper">
          <div class="center-wrapper">
            <div class="content">
              <div id="featured-wrapper">
                <div id="featured">
                  <div class="left">
<br>Note that elemental potentials taken from alloy descriptions may not work well for the pure species.  This is particularly true if the elements were fit for compounds instead of being optimized separately.  As with all interatomic potentials, please check to make sure that the performance is adequate for your problem.<br><br>
<br><a name="1985--Foiles-S-M--Ni-Cu"></a><h1>Identifier: 1985--Foiles-S-M--Ni-Cu</h1>
<b>S.M. Foiles, "Calculation of the surface segregation of Ni-Cu alloys with the use of the embedded-atom method," Phys. Rev. B <b>32</b>, 7685 (1985). DOI: <a href="http://dx.doi.org/10.1103/PhysRevB.32.7685" class="external">10.1103/PhysRevB.32.7685</a></b>
<br><br><b>Notes:</b> These files were obtained from the December 9, 2007 LAMMPS distribution. According to Stephen M. Foiles, they differ from the original formulations in the following ways: a) The fcc is upper case in one and lower case in the other. b) The comment in the LAMMPS distribution for Ni_smf7.eam incorrectly lists it as being for the NiPd alloys rather than NiCu alloys. The potential file has been updated with "NiCu" to reflect the second comment.
<br><br><b>Format:</b> EAM funcfl
<br><b>File(s):</b> <br> <a href="./Download/NiCu-SMF/Cu_smf7.eam">Cu_smf7.eam</a>
<br> <a href="./Download/NiCu-SMF/Ni_smf7.eam">Ni_smf7.eam</a>
<br><br><h3>Computed properties</h3>
<b>Go To: </b><a href="Interatomic Potentials Repository Project.html#1">Static Crystal Structure Predictions</a><br>
<b>Go To: </b><a href="Interatomic Potentials Repository Project.html#2">Cohesive Energy vs. Interatomic Spacing</a><br>
<b>Go To: </b><a href="Interatomic Potentials Repository Project.html#3">Point Defect Formation Energies</a><br>
<b>Go To: </b><a href="Interatomic Potentials Repository Project.html#4">Free Surface Formation Energies</a><br>
<br><br><hr>
<a id="1"></a>
<!--!Structure!-->
<br><br><hr>
<a id="2"></a>
<!--!EvsR!-->
<br><br><hr>
<a id="3"></a>
<!--!Point!-->
<br><br><hr>
<a id="4"></a>
<!--!Surface!-->
<br><br><hr>
	          <p>Date created: October 5, 2010 | Last updated: August 23, 2017</p>
                  </div>
                  <div class="clearer">&nbsp;</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END Content -->
      <div id="footer-wrapper">
        <div class="center-wrapper">
          <div id="footer2">
            <div class="left"> <a href="https://www.nist.gov/"><img src="./Interatomic Potentials Repository Project_files/nist-logo-left.png" width="300"></a> </div>
            <div class="right"> </div>
            <div class="clearer">&nbsp;</div>
          </div>
        </div>
      </div>
      <div id="bottom">
        <div class="center-wrapper">
          <div class="left"> <a href="https://www.nist.gov/privacy-policy">Privacy Policy</a>
            <span class="text-separator">|</span> <a href="https://www.nist.gov/disclaimer">Disclaimer</a>
          </div>
          <div class="right"> </div>
          <div class="clearer">&nbsp;</div>
        </div>
      </div>
    </div>
  

</body></html>